
{% extends 'base.html.twig' %}
{% block title %}modifier votre produit {% endblock %}

{% block stylesheets %}

    <!-- SPECIFIC CSS -->
    <link href="{{ asset('frontoffice/css/wizard.css') }}" rel="stylesheet">

{% endblock %}
 {% block nav %}
 {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <main>

        <div class="container margin_60_40" id="apply">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="main_title center">
                        <span><em></em></span>
                        <h2>Modifier Produit</h2>
                        <p>avec zven vous pouvez tout faire</p>
                    </div>

                    <div id="wizard_container">
                        <div id="top-wizard">
                            <div id="progressbar"></div>
                        </div>
                        <!-- /top-wizard -->
                        <form id="wrapped" method="POST">
                            <input id="website" name="website" type="text" value="">
                            <!-- Leave for security protection, read docs for details -->
                            <div id="middle-wizard">
                                {{ form_start(form) }}






                                <div class="submit step">
                                    <h3 class="main_question"><strong></strong>Produit</h3>
                                    <div class="form-group" >

                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.nomProduit,{'attr':{
                                            'placeholder':'nom Produit','class':'nomProduit'
                                        }}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.DescriptionProduit,{'attr':{
                                            'placeholder':'description Produit','class':'description Produit'
                                        }}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.imageProduit) }}
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                {{ form_widget(form.prixProduit,{'attr':{
                                                    'placeholder':'prix Produit','class':'prix Produit'
                                                }}) }}
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /row -->

                                </div>
                                <!-- /step-->

                            </div>
                            <!-- /middle-wizard -->
                            <div id="bottom-wizard">
                                <button type="button" name="backward" class="backward">Prev</button>
                                <button type="button" name="forward" class="forward">Next</button>
                                <button type="submit" name="process" class="submit">Submit</button>




                            </div>

                            <!-- /bottom-wizard -->
                        </form>
                        {{ form_end(form) }}
                    </div>
                    <!-- /Wizard container -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

    </main>

{% endblock %}





{% block javascripts %}
    <!-- COMMON SCRIPTS -->
    <script src="{{ asset('frontoffice/js/common_scripts.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/common_func.js') }}"></script>
    <script src="{{ asset('frontoffice/assets/validate.js') }}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="{{ asset('frontoffice/js/wizard/wizard_scripts.js') }}"></script>
    <script src="{{ asset('frontoffice/js/wizard/wizard_func.js') }}"></script>

{% endblock %}
