<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">Home</h1>
        <!-- /.page-title -->
    </div>
    <!-- /.pull-left -->
    <div class="pull-right">
        <div class="ico-item">
            <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
            <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="fa fa-search button-search" type="submit"></button></form>
            <!-- /.searchform -->
        </div>
        <!-- /.ico-item -->
        <!-- /.ico-item fa fa-fa-arrows-alt -->
        <!-- /.ico-item -->

        <a href="#" class="ico-item pulse"><span class="ico-item fa fa-envelope notice-alarm js__toggle_open" data-target="#message-popup"></span></a>
        <a href="#" class="ico-item fa fa-power-off js__logout"></a>
    </div>
    <!-- /.pull-right -->
</div>
<div id="message-popup" class="notice-popup js__toggle" data-space="75">
    <h2 class="popup-title">Recent Messages<a href="{{ path('messages') }}" class="pull-right text-danger">New message</a></h2>
    <!-- /.popup-title -->
    <div class="content">
        <ul class="notice-list">
            {% set newarray = [] %}
            {% for m in msg.getMessages(app.user) %}
                {% if m.sender.id not in newarray %}
                {% if newarray|length <6 %}
            <li>
                <a href="{{ path('messages-show', {id:m.sender.id })  }}">
                    <span class="avatar"><img src="{{asset('/uploads/' ~ m.sender.nomImage ) }}" alt=""></span>
                    <span class="name">{{ m.sender.pseudo }}</span>
                    <span class="desc">{{ m.message  }}</span>
                    <span class="time">10 min</span>
                </a>
            </li>
                    {% set newarray = newarray|merge([m.sender.id]) %}
                {% endif %}
                {% endif %}
            {% endfor %}


        </ul>
        <!-- /.notice-list -->
        <a href="{{ path('messages') }}" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a>
    </div>
    <!-- /.content -->
</div>
<!-- /#message-popup -->
<div id="color-switcher">
    <div id="color-switcher-button" class="btn-switcher">
        <div class="inside waves-effect waves-circle waves-light">
            <i class="ico fa fa-gear"></i>
        </div>
        <!-- .inside waves-effect waves-circle -->
    </div>
    <!-- .btn-switcher -->
    <div id="color-switcher-content" class="content">
        <a href="#" data-color="red" class="item js__change_color"><span class="color" style="background-color: #f44336;"></span><span class="text">Red</span></a>
        <a href="#" data-color="violet" class="item js__change_color"><span class="color" style="background-color: #673ab7;"></span><span class="text">Violet</span></a>
        <a href="#" data-color="dark-blue" class="item js__change_color"><span class="color" style="background-color: #3f51b5;"></span><span class="text">Dark Blue</span></a>
        <a href="#" data-color="blue" class="item js__change_color active"><span class="color" style="background-color: #304ffe;"></span><span class="text">Blue</span></a>
        <a href="#" data-color="light-blue" class="item js__change_color"><span class="color" style="background-color: #2196f3;"></span><span class="text">Light Blue</span></a>
        <a href="#" data-color="green" class="item js__change_color"><span class="color" style="background-color: #4caf50;"></span><span class="text">Green</span></a>
        <a href="#" data-color="yellow" class="item js__change_color"><span class="color" style="background-color: #ffc107;"></span><span class="text">Yellow</span></a>
        <a href="#" data-color="orange" class="item js__change_color"><span class="color" style="background-color: #ff5722;"></span><span class="text">Orange</span></a>
        <a href="#" data-color="chocolate" class="item js__change_color"><span class="color" style="background-color: #795548;"></span><span class="text">Chocolate</span></a>
        <a href="#" data-color="dark-green" class="item js__change_color"><span class="color" style="background-color: #263238;"></span><span class="text">Dark Green</span></a>
        <span id="color-reset" class="btn-restore-default js__restore_default">Reset</span>
    </div>
    <!-- /.content -->
</div>