<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FooYes - Quality delivery or takeaway food">
    <meta name="author" content="Ansonika">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('images/apple-touch-icon-57x57-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ asset('images/apple-touch-icon-72x72-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ asset('images/apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ asset('images/apple-touch-icon-144x144-precomposed.png') }}">


    {% block stylesheets %}

        <!-- GOOGLE WEB FONT -->
        <link href="{{ asset("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap") }}" rel="stylesheet">
        <!-- BASE CSS -->
        <link href="{{ asset("css/bootstrap_customized.css/bootstrap_customized.min.css") }}" rel="stylesheet">
        <link href="{{ "css/style.css" }}" rel="stylesheet">

        <!-- SPECIFIC CSS -->
        <link href="{{asset("css/detail-page.css") }}" rel="stylesheet">

        <!-- YOUR CUSTOM CSS -->
        <link href="{{asset("css/custom.css")  }}" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        <!-- COMMON SCRIPTS -->
        <script src="{{"js/common_scripts.min.js" }}"></script>
        <script src="{{ "js/common_func.js" }}"></script>
        <script src="{{ "assets/validate.js" }}"></script>
    {% endblock %}
</head>
<body>

{{ form_start(form) }}

<div class="container margin_60_20" id="submit">

    <div class="row justify-content-center">

        <div class="col-lg-5">
            <div class="text-center add_bottom_15">
                <h4>Ajouter un produit</h4>
                <p>Veiller remplir tout les champs /p>
            </div>
        <div class="form-group">
            {{ form_label(form.nom_produit,"Nom Produit") }}

            {{ form_widget(form.nom_produit,{'attr':{
                'placeholder':'nom produits','class':'nom'
            }}) }}
            {{ form_label(form.descriptionp,"description") }}
            {{ form_widget(form.descriptionp,{'attr':{
                'placeholder':'description','class':'description'
            }}) }}
            {{ form_label(form.image_produit,"image") }}
            {{ form_widget(form.image_produit,{'attr':{
                'placeholder':'image produit','class':'image'
            }}) }}
            {{ form_label(form.prix_produit,"prix") }}
            {{ form_widget(form.prix_produit,{'attr':{
                'placeholder':'prix produit','class':'prix'
            }}) }}
            {{ form_label(form.type_produit,"type") }}
            {{ form_widget(form.type_produit,{'attr':{
                'placeholder':'type produit','class':'type'
            }}) }}
            <div class="form-group text-center">
                <button class="btn_1 gradient">Ajoutter</button>
            </div>

            {{ form(form,{'method':'GET'}) }}
        </div>
        </div>
    </div>
</div>
{{ form_end(form) }}



<!-- /container -->
