<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TAGCODE');</script>
    <!-- End Google Tag Manager -->
    <title>Logdy - Login and Register Form HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{{ asset('login/css/bootstrap.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ asset('login/fonts/font-awesome/css/font-awesome.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ asset('login/fonts/flaticon/font/flaticon.css')}}">


    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{{ asset('login/img/favicon.ico')}}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ asset('login/css/style.css')}}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('login/css/skins/default.css')}}'">
</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGCODE"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Login 8 start -->
<div  class="login-8">

    <div STYLE="display: flex; align-items: center; justify-content: center;" class="container">

        <div  style="margin-left:50px;" class="row login-box">
            <div class="col-lg-10 form-section">
                <div class="form-inner">

                    <h3>Cliquer ici pour devenez un vendeur</h3>
                    <form>
                        <div class="form-group form-box">

                        </div>
                        <div class="form-group">
                            <button  class="btn btn-primary btn-lg btn-theme"><a style="color: white" href="{{ path('app_register') }}"> Devenez vendeur</a></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div  class="row login-box">

            <div class="col-lg-10 form-section">
                <div class="form-inner">

                    <h3>Cliquer ici pour devenez un client</h3>
                    <form>
                        <div class="form-group form-box">

                        </div>
                        <div class="form-group">
                            <button  class="btn btn-primary btn-lg btn-theme"><a style="color: white" href="{{ path('app_register_user') }}"> Devenez client</a></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>



    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>
<!-- Login 8 end -->

<!-- External JS libraries -->
<script src="{{ asset('login/js/jquery.min.js')}}"></script>
<script src="{{ asset('login/js/popper.min.js')}}"></script>
<script src="{{ asset('login/js/bootstrap.bundle.min.js')}}"></script>
<!-- Custom JS Script -->

</body>
</html>