
{% extends 'HomeFront.html.twig' %}
{% block title %}Liste Produits {% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{ asset('frontoffice/css/bootstrap_customized.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontoffice/css/style.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{{ asset('frontoffice/css/detail-page.css') }}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ asset('frontoffice/css/custom.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    <main>

        <div class="hero_in detail_page background-image"  data-background="url(frontoffice/img/hero_general.jpg)">
            <img src="{{  asset('/uploads/' ~ restaurant.nomImage ) }}">




            <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">

                <div class="container">

                    <div class="main_info">

                        <div class="row">

                            <div class="col-xl-4 col-lg-5 col-md-6">

                                <div class="head">
                                    <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                                </div>

                                <h1>{{restaurant.nomRestaurant }}</h1>

                                {{ restaurant.addresse }} {{ restaurant.cite }} {{ restaurant.codePostal }}

                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-6">
                                <div class="buttons clearfix">
	                                <span class="magnific-gallery">
	                                    <a href="{{ asset('frontoffice/img/detail_2.jpg') }}" title="Photo title" data-effect="mfp-zoom-in"></a>
	                                    <a href="{{ asset('frontoffice/img/detail_3.jpg') }}" title="Photo title" data-effect="mfp-zoom-in"></a>
	                                </span>
                                    <a href="#0" class="btn_hero wishlist"><i class="icon_heart"></i>Wishlist</a>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /main_info -->
                </div>
            </div>
        </div>
        <!--/hero_in-->

        <nav class="secondary_nav sticky_horizontal">
            <div class="container">
                <ul id="secondary_nav">
                    <li><a class="list-group-item list-group-item-action" href="#section-1">Starters</a></li>
                    <li><a class="list-group-item list-group-item-action" href="#section-2">Main Courses</a></li>
                    <li><a class="list-group-item list-group-item-action" href="#section-3">Desserts</a></li>
                    <li><a class="list-group-item list-group-item-action" href="#section-4">Drinks</a></li>
                    <li><a class="list-group-item list-group-item-action" href="#section-5"><i class="icon_chat_alt"></i>Reviews</a></li>
                </ul>
            </div>
            <span></span>
        </nav>
        <!-- /secondary_nav -->

        <div class="bg_gray">
            <div class="container margin_detail">
                <div class="row">
                    <div class="col-lg-8 list_menu">


                        <section id="section-1">
                            <h4>Main Courses</h4>
                            <div class="table_wrapper">
                                <table class="table cart-list menu-gallery">
                                    <thead>
                                    <tr>
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Price
                                        </th>

                                        <th>
                                            Order
                                        </th>

                                    </tr>
                                    </thead>
                                    {% for p in produits %}
                                    <tbody>
                                    <tr>

                                        <td class="d-md-flex align-items-center">
                                            <figure>
                                                <a href="{{  asset('/uploads/' ~ p.nomImageProduit ) }}" title="Photo title" data-effect="mfp-zoom-in"><img src="{{  asset('/uploads/' ~ p.nomImageProduit ) }}" data-src="{{  asset('/uploads/' ~ p.nomImageProduit ) }}" alt="thumb" class="lazy"></a>

                                            </figure>

                                            <div class="flex-md-column">
                                                <h4>{{ p.nomProduit }}</h4>

                                                <p>
                                                    {{ p.descriptionProduit }}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <strong>{{p.prixProduit }} ~ dt</strong>
                                        </td>

                                        <td class="options">
                                            <a href="#0"><i class="icon_plus_alt2"></i></a>
                                        </td>

                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <!-- /section -->


                    </div>
                    <!-- /col -->

                    <div class="col-lg-4" id="sidebar_fixed">
                        <div class="box_order mobile_fixed">
                            <div class="head">
                                <h3>Order Summary</h3>
                                <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
                            </div>
                            <!-- /head -->
                            <div class="main">
                                <ul class="clearfix">
                                    <li><a href="#0">1x Enchiladas</a><span>$11</span></li>
                                    <li><a href="#0">2x Burrito</a><span>$14</span></li>
                                    <li><a href="#0">1x Chicken</a><span>$18</span></li>
                                    <li><a href="#0">2x Corona Beer</a><span>$9</span></li>
                                    <li><a href="#0">2x Cheese Cake</a><span>$11</span></li>
                                </ul>
                                <ul class="clearfix">
                                    <li>Subtotal<span>$56</span></li>
                                    <li>Delivery fee<span>$10</span></li>
                                    <li class="total">Total<span>$66</span></li>
                                </ul>
                                <div class="row opt_order">
                                    <div class="col-6">
                                        <label class="container_radio">Delivery
                                            <input type="radio" value="option1" name="opt_order" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="container_radio">Take away
                                            <input type="radio" value="option1" name="opt_order">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="dropdown day">
                                    <a href="#" data-toggle="dropdown">Day <span id="selected_day"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-content">
                                            <h4>Which day delivered?</h4>
                                            <div class="radio_select chose_day">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="day_1" name="day" value="Today">
                                                        <label for="day_1">Today<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="day_2" name="day" value="Tomorrow">
                                                        <label for="day_2">Tomorrow<em>-40%</em></label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /people_select -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /dropdown -->
                                <div class="dropdown time">
                                    <a href="#" data-toggle="dropdown">Time <span id="selected_time"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-content">
                                            <h4>Lunch</h4>
                                            <div class="radio_select add_bottom_15">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="time_1" name="time" value="12.00am">
                                                        <label for="time_1">12.00<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_2" name="time" value="08.30pm">
                                                        <label for="time_2">12.30<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_3" name="time" value="09.00pm">
                                                        <label for="time_3">1.00<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_4" name="time" value="09.30pm">
                                                        <label for="time_4">1.30<em>-40%</em></label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /time_select -->
                                            <h4>Dinner</h4>
                                            <div class="radio_select">
                                                <ul>
                                                    <li>
                                                        <input type="radio" id="time_5" name="time" value="08.00pm">
                                                        <label for="time_1">20.00<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_6" name="time" value="08.30pm">
                                                        <label for="time_2">20.30<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_7" name="time" value="09.00pm">
                                                        <label for="time_3">21.00<em>-40%</em></label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="time_8" name="time" value="09.30pm">
                                                        <label for="time_4">21.30<em>-40%</em></label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /time_select -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /dropdown -->
                                <div class="btn_1_mobile">
                                    <a href="order.html" class="btn_1 gradient full-width mb_5">Order Now</a>
                                    <div class="text-center"><small>No money charged on this steps</small></div>
                                </div>
                            </div>
                        </div>
                        <!-- /box_order -->
                        <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">View Basket</a></div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_gray -->
        {% set food=0 %}
        {% set price=0 %}
        {% set service=0 %}
        {% set s=0 %}

        <div class="container margin_30_20">
            <div class="row">
                <div class="col-lg-8 list_menu">
                    <section id="section-5">
                        <h4>Reviews</h4>
                        <div class="row add_bottom_30 d-flex align-items-center reviews">
                            <div class="col-md-3">
                                <div id="review_summary">
                                    {% for r in reclamation %}
                                        {% if r.restaurant.id==restaurant.id %}
                                    {% set food = food + r.foodqulaite %}
                                    {% set price = price + r.price %}
                                    {% set service = service + r.service %}

                                    {% set s=s+1 %}

                                        {% endif %}


                                    {% endfor %}
                                    {% if s==0 %}
                                    <strong> - </strong>
                                    {% else %}
                                    <strong>{{ (((food/s)+(price/s)+(service/s))/3)|number_format('2') }}</strong>
                                    {% endif %}
                                   {#  <em>Superb</em> #}
                                    <small>Based on 3 reviews</small>

                                </div>
                            </div>
                            {% if s!=0 %}
                            <div class="col-md-9 reviews_sum_details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Food Quality</h6>
                                        <div class="row">
                                            <div class="col-xl-10 col-lg-9 col-9">
                                                <div class="progress">



                                                        <div class="progress-bar" role="progressbar" style="width:{{ (food/s)*10 }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>

                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-3"><strong>{{ (food/s)*10 }}%</strong></div>
                                        </div>
                                        <!-- /row -->
                                        <h6>Service</h6>
                                        <div class="row">
                                            <div class="col-xl-10 col-lg-9 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width:{{ (service/s)*10 }}%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-3"><strong>{{ (service/s)*10 }}%</strong></div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Price</h6>
                                        <div class="row">
                                            <div class="col-xl-10 col-lg-9 col-9">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width:{{ (price/s)*10 }}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-3 col-3"><strong>{{ (food/s)*10 }}%</strong></div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>
                            {% endif %}
                        </div>
                        <!-- /row -->
                        <div id="reviews">
                            {% for r in reclamation %}



                                <div class="review_card">
                                <div class="row">
                                    <div class="col-md-2 user_info">
                                        <figure><img src="img/avatar1.jpg" alt=""></figure>
                                        <h5>Marika</h5>
                                    </div>
                                    <div class="col-md-10 review_content">
                                        <div class="clearfix add_bottom_15">
                                            <span class="rating">{{ ((r.foodqulaite+r.service+r.price)/3)|number_format('1')}}<small>/10</small> <strong>Rating average</strong></span>
                                            <em> le: {{ r.daterec|date('y/m/d h:m:s') }}</em>
                                        </div>
                                        <h4>"{{ r.titre }}"</h4>
                                        <p>{{ r.description }}</p>
                                        {% if r.nomimage is not null %}
                                            <div class="col-md-6">
                                                <figure><img src="{{ asset('/uploads/' ~ r.nomimage )  }}"  height="200px" width="200px" class="lazy"/></figure>
                                            </div>
                                        {% endif %}
                                        <ul>
                                            <li><a href="{{ path ('addReply',{'id':r.id}) }}"><i class=""></i><span>répondre</span></a></li>
                                            <li><a href="{{ path ('updaterec',{'id':r.id}) }}"><i class=""></i><span>Modifier</span></a></li>
                                            <li><a href="{{ path ('deleteR',{'id':r.id}) }}"><i class=""></i><span>Supprimer</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /row -->

                                    {% for re in rep.getReplies %}
                                         {% if re.reclamation.id==r.id %}
                                <div class="row reply">
                                    <div class="col-md-2 user_info">
                                        <figure><img src="img/avatar.jpg" alt=""></figure>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="review_content">
                                            <strong>{{ re.titre }}</strong>
                                            <em>le: {{ re.datereply|date('y/m/d h:m:s') }}</em>
                                            <p><br> {{ re.description }}<br><br></p>
                                            <div class="clearfix add_bottom_15">
                                                <a href="{{ path ('deleteReply',{'id':re.id}) }}"><i class="alert-danger"></i><span>Supprimer</span></a>
                                                <a href="{{ path ('updateReply',{'id':re.id}) }}"><i class="alert-danger"></i><span>modifier</span></a>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <!-- /reply -->
                                        {% endif %}
                                    {% endfor %}
                            </div>


                            {% endfor %}

                            <div class="text-right"><a href="{{ path('addReclamation',{'id':restaurant.id}) }}" class="btn_1 gradient">Leave a Review</a></div>

                            <!-- /review_card -->
                        </div>
                        <!-- /reviews -->
                    </section>
                    <!-- /section -->
                </div>
            </div>
        </div>
        <!-- /container -->
    </main>
    <div id="message">Item added to cart</div><!-- Add to cart message -->

    <!-- /main -->
{% endblock %}



{% block javascripts %}
    <!-- COMMON SCRIPTS -->
    <script src="{{ asset('frontoffice/js/common_scripts.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/common_func.js') }}"></script>
    <script src="{{ asset('frontoffice/assets/validate.js') }}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="{{ asset('frontoffice/js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/specific_detail.js') }}"></script>
{% endblock %}
