{% extends 'HomeFront.html.twig' %}
{% block title %}{{ app.user.pseudo }}{% endblock %}
{% block javascripts %}
<!-- COMMON SCRIPTS -->
<script src="{{ asset('frontoffice/js/common_scripts.min.js') }}"></script>
<script src="{{ asset('frontoffice/js/common_func.js') }}"></script>
<script src="{{ asset('frontoffice/assets/validate.js') }}"></script>


<!-- SPECIFIC SCRIPTS -->
<script src="{{ asset('frontoffice/js/sticky_sidebar.min.js') }}"></script>
<script src="{{ asset('frontoffice/js/sticky-kit.min.js') }}"></script>
<script src="{{ asset('frontoffice/js/specific_detail.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{ asset('frontoffice/css/bootstrap_customized.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontoffice/css/style.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{{ asset('frontoffice/css/detail-page.css') }}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ asset('frontoffice/css/custom.css') }}" rel="stylesheet">

{% endblock %}


{% block body %}
    <main style="margin-top: 60px" >


    <div STYLE="margin: 200px 0 0 300px;" class="col-lg-6" id="sidebar_fixed">
        <div style="" class="box_order mobile_fixed">
            <div class="head">
                <h3> {{ app.user.pseudo}}</h3>
                <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
            </div>
            <!-- /head -->
            <div class="main">
                {% for message in app.flashes('message') %}
                  <p style="color: green;margin-left: 150px">  {{ message }}</p>
                {% endfor %}
                <ul class="clearfix">
                    <li><a aria-expanded="true" class="list-group-item list-group-item-action" href="{{ path('updatepass') }}" >modifier mot de passe</a></li>

                    <a href="{{ path('updateuserr') }}"  aria-expanded="true"><i class="icon_pencil-edit_alt"></i></a>

                    <li> nom<span>{{  app.user.nom }}</span></li>
                    <li> prenom</a><span>{{  app.user.prenom }}</span></li>
                    <li>adresse</a><span>{{  app.user.adresse }}</span></li>
                    <li> email</a><span>{{  app.user.email }}</span></li>
                    <li> role</a><span>{%if is_granted('ROLE_ADMIN')%}ADMIN{%else%} USER {% endif %}</span></li>
                    <li> numero telephone</a><span>{{  app.user.numtel }}</span></li>

            </div>

        </div>

        <nav style="margin-top: 100px">


        <li><a aria-expanded="true" class="list-group-item list-group-item-action" href=""{{ path('updateuserr') }}" >addrestaurant</a></li>



    </nav>
    <!-- /secondary_nav -->

    <div class="bg_gray">
        <div class="container margin_detail">
            <div class="row">
                <div class="col-lg-8 list_menu">
                    <section id="section-1">
                        <h4>Mes Restaurants</h4>
                        <div class="table_wrapper">
                            <table class="table cart-list menu-gallery">
                                <thead>
                                <tr>
                                    <th>
                                        Restaurant
                                    </th>
                                    <th>
                                        Statut
                                    </th>
                                    <th>
                                        Modifier
                                    </th>
                                    <th>
                                        Supprimer
                                    </th>
                                    <th>
                                        Ajouter Produit
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in app.user.restaurants %}
                                <tr>

                                    <td class="d-md-flex align-items-center">
                                        <figure>
                                            <a href="{{asset('/uploads/' ~ r.nomImage ) }}" title="Photo title" data-effect="mfp-zoom-in"><img src="{{asset('/uploads/' ~ r.nomImage ) }}" data-src="{{asset('/uploads/' ~ r.nomImage ) }}" alt="thumb" class="lazy"></a>
                                        </figure>
                                        <div class="flex-md-column">
                                            <h4>{{ r.nomRestaurant }}</h4>
                                            <p>
                                                {{ r.addresse }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        {% if r.status=="not verified" %}
                                        <strong> En cours de vérification</strong>
                                        {% else %}
                                            <strong > verifié</strong>
                                            {% endif %}
                                    </td>
                                    <td class="options">
                                        <div class="dropdown dropdown-options">
                                            <a href="{{ path ('update',{'id':r.id}) }}"  aria-expanded="true"><i class="icon_pencil-edit_alt"></i></a>



                                        </div>
                                    </td>
                                    <td class="options" >
                                        <div class="dropdown dropdown-options">
                                            <a href="{{ path ('deleterestaurant',{'id':r.id}) }}"  aria-expanded="true"><i class="icon_minus_alt2"></i></a>



                                        </div>

                                    </td>
                                    <td class="options" >
                                        <div class="dropdown dropdown-options">
                                            <a href="{{ path ('ajouterproduits',{'id':r.id}) }}"  aria-expanded="true"><i class="icon_plus_alt2"></i></a>



                                        </div>

                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!-- /section -->

                    <section id="section-2">
                        <h4>Mes Produits</h4>
                        <div class="table_wrapper">
                            <table class="table cart-list menu-gallery">
                                <thead>
                                <tr>
                                    <th>
                                        produit
                                    </th>
                                    <th>
                                        prix
                                    </th>
                                    <th>
                                        Restaurant
                                    </th>
                                    <th>
                                        supprimer
                                    </th>
                                    <th>
                                        modifier
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in prod.getProduits %}
                                    {% if p.restaurant.user.id==app.user.id %}

                                <tr>
                                    <td class="d-md-flex align-items-center">
                                        <figure>
                                            <a href="{{asset('/uploads/' ~ p.nomimageProduit ) }}" title="Photo title" data-effect="mfp-zoom-in"><img src="{{asset('/uploads/' ~ p.nomimageProduit ) }}" data-src="{{asset('/uploads/' ~ p.nomimageProduit ) }}" alt="thumb" class="lazy"></a>
                                        </figure>
                                        <div class="flex-md-column">
                                            <h4>{{ p.nomProduit }}</h4>
                                            <p>
                                                {{ p.descriptionProduit }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <strong>{{ p.prixProduit }} dt</strong>
                                    </td>
                                    <td>
                                        <strong>{{ p.restaurant.nomRestaurant }} dt</strong>
                                    </td>
                                    <td class="options">
                                        <a href="{{ path ('deleteproduit',{'id':p.id}) }}"><i class="icon_minus_alt2"></i></a>
                                    </td>
                                    <td class="options">
                                        <a href="{{ path ('updateproduit',{'id':p.id}) }}"><i class="icon_plus_alt2"></i></a>

                                    </td>

                                </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!-- /section -->


                </div>
                <!-- /col -->


                    <!-- /box_order -->
                    <div class="btn_reserve_fixed"><a href="#0" class="btn_1 gradient full-width">View Basket</a></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_gray -->

    <div class="container margin_30_20">
        <div class="row">
            <div class="col-lg-8 list_menu">
                <section id="section-5">
                    <h4>Reviews</h4>
                    <div class="row add_bottom_30 d-flex align-items-center reviews">
                        <div class="col-md-3">
                            <div id="review_summary">
                                <strong>8.5</strong>
                                <em>Superb</em>
                                <small>Based on 4 reviews</small>
                            </div>
                        </div>
                        <div class="col-md-9 reviews_sum_details">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Food Quality</h6>
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-9 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-3"><strong>9.0</strong></div>
                                    </div>
                                    <!-- /row -->
                                    <h6>Service</h6>
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-9 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-3"><strong>9.5</strong></div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <div class="col-md-6">
                                    <h6>Punctuality</h6>
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-9 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-3"><strong>6.0</strong></div>
                                    </div>
                                    <!-- /row -->
                                    <h6>Price</h6>
                                    <div class="row">
                                        <div class="col-xl-10 col-lg-9 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-3"><strong>6.0</strong></div>
                                    </div>
                                    <!-- /row -->
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /row -->
                    <div id="reviews">
                        <div class="review_card">
                            <div class="row">
                                <div class="col-md-2 user_info">
                                    <figure><img src="img/avatar4.jpg" alt=""></figure>
                                    <h5>Lukas</h5>
                                </div>
                                <div class="col-md-10 review_content">
                                    <div class="clearfix add_bottom_15">
                                        <span class="rating">8.5<small>/10</small> <strong>Rating average</strong></span>
                                        <em>Published 54 minutes ago</em>
                                    </div>
                                    <h4>"Great Location!!"</h4>
                                    <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.</p>
                                    <ul>
                                        <li><a href="#0"><i class="icon_like"></i><span>Useful</span></a></li>
                                        <li><a href="#0"><i class="icon_dislike"></i><span>Not useful</span></a></li>
                                        <li><a href="#0"><i class="arrow_back"></i> <span>Reply</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /review_card -->
                        <div class="review_card">
                            <div class="row">
                                <div class="col-md-2 user_info">
                                    <figure><img src="img/avatar1.jpg" alt=""></figure>
                                    <h5>Marika</h5>
                                </div>
                                <div class="col-md-10 review_content">
                                    <div class="clearfix add_bottom_15">
                                        <span class="rating">9.0<small>/10</small> <strong>Rating average</strong></span>
                                        <em>Published 11 Oct. 2019</em>
                                    </div>
                                    <h4>"Really great dinner!!"</h4>
                                    <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.</p>
                                    <ul>
                                        <li><a href="#0"><i class="icon_like"></i><span>Useful</span></a></li>
                                        <li><a href="#0"><i class="icon_dislike"></i><span>Not useful</span></a></li>
                                        <li><a href="#0"><i class="arrow_back"></i> <span>Reply</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row reply">
                                <div class="col-md-2 user_info">
                                    <figure><img src="img/avatar.jpg" alt=""></figure>
                                </div>
                                <div class="col-md-10">
                                    <div class="review_content">
                                        <strong>Reply from Foogra</strong>
                                        <em>Published 3 minutes ago</em>
                                        <p><br>Hi Monika,<br><br>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.<br><br>Thanks</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /reply -->
                        </div>
                        <!-- /review_card -->
                    </div>
                    <!-- /reviews -->
                    <div class="text-right"><a href="leave-review.html" class="btn_1 gradient">Leave a Review</a></div>
                </section>
                <!-- /section -->
            </div>
        </div>
    </div>
    <!-- /container -->
</main>
<!-- /main -->
{% endblock %}
